<section class="ui stackable content main grid container">
    <h1 class="ui header aligned center sixteen wide column">{{teamName}}</h1>

    <div class="four wide column">
        <div class="ui inverted green vertical fluid menu">
            <a ui-sref="authed.team" ui-sref-active="active" class="item"><i class="users icon"></i>Our ECA Team</a>
            <a ui-sref="authed.idea" ui-sref-active="active" class="item"><i class="idea icon"></i>Our Idea</a>
            <a  class="item" ui-sref-active="active"><i class="comments icon"></i>Feedback from jury</a>
            <a class="item" ui-sref-active="active"><i class="edit icon"></i>Feedback form for ECA5</a>
        </div>
    </div>

    <div class="twelve wide column">
        <ui-view></ui-view>
    </div>
</section>
