<div class="ui stackable grid main cards container">
    <div class="four wide column">
        <div class="ui inverted green vertical fluid menu">
            <a class="item active"><i class="users icon"></i>Our ECA Team</a>
            <a class="item"><i class="idea icon"></i>Our Idea</a>
            <a class="item"><i class="comments icon"></i>Feedback from jury</a>
            <a class="item"><i class="edit icon"></i>Feedback form for ECA5</a>
        </div>
    </div>

    <div class="twelve wide column">
        <ui-view></ui-view>
    </div>
</div>
