<section class="ui stackable content main grid container">
    <h1 class="ui header aligned center sixteen wide column">
        <abbr title="Frequently Asked Questions">FAQ</abbr>
    </h1>

    <div class="ui styled fluid accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            What is EESTEC Competition for Android?
        </div>
        <div class="content">
            <p>EESTEC Competition for Android is a contest for ideas and mobile applications developed for the Android platform. The project is organized for the 5th consecutive year by <a href="http://www.eestec.net" target="_blank">Electrical Engineering STudents European assoCiation</a>.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Who can participate?
        </div>
        <div class="content">
            <p>The Contest is open to anyone aged between 13 and 30 years old, from all around the world (including EESTECers, only the Organising Team is not allowed to compete).</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            I’m from [insert country here]. Can I participate?
        </div>
        <div class="content">
            <p>The Contest is open worldwide!</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What is the Competition’s structure?
        </div>
        <div class="content">
            <p>The Contest is divided into two rounds.</p>
            <p>In the first (Idea Submission) round the contestants will be asked to describe their ideas for a mobile application and provide a link to the team’s repository. Every team that meets all the requirements included in the Terms and Conditions will be automatically granted an entry to the second phase of the Competition. Apart from that, each contestant will receive professional and customized feedback from the jury members.</p>
            <p>If the contestants don’t meet the deadline for submitting their idea, they will only have a chance to apply for the fourth category (Popularity). The second (Application Submission) round starts basically right after the idea submissions. The contestants will be committing their code in the repository mentioned above. The team then needs to indicate on their profile on ECA’s website that their app is ready and that the “.apk” file is ready for evaluation.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What is the Competition’s schedule?
        </div>
        <div class="content">
            <ul>
                <li>Ideas Submission Deadline: 15th January 2016</li>
                <li>Final Applications Submission Deadline: 20th March 2016</li>
                <li>Award Ceremony and the results: second week of April 2016 (during annual EESTEC Congress)</li>
            </ul>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            How can I submit an idea?
        </div>
        <div class="content">
            <p>Visit <a href="http://competition.eestec.net" target="_blank">http://competition.eestec.net</a> and follow the instructions to register.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Will I receive any confirmation after I submit my idea/application?
        </div>
        <div class="content">
            <p>Yes, you will receive a confirmation e-mail to the address you registered your team account to.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            How many ideas can I submit?
        </div>
        <div class="content">
            <p>You are allowed to submit one idea per team.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Is there any specific topic for the proposed application?
        </div>
        <div class="content">
            <p>No. The applications can be of any topic. However, the apps will be marked in three categories: Overall Score, Design, Innovation and Popularity.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What is the Popularity category?
        </div>
        <div class="content">
            <p>Every submitted app is running for this prize. We do not provide a monetary prize or any idea feedback. However, it is a chance for participants who missed the first deadline to take part in the Competition as well. They will be required to register but the procedure will be different after the first deadline.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Can I submit a game?
        </div>
        <div class="content">
            <p>Yes, games are also allowed to participate.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Can I join as an individual, or only as a team?
        </div>
        <div class="content">
            <p>You can join as individual but you we strongly encourage you to join as a team consisting of 3 members at maximum.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            How many applications can I submit?
        </div>
        <div class="content">
            <p>You should submit one application related to the idea you have applied with in the first round.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What are the judging criteria in the first round?
        </div>
        <div class="content">
            <p>Originality, usefulness and feasibility of your proposed idea.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What are the judging criteria in the second round?
        </div>
        <div class="content">
            <p>Idea fulfillment, performance, user experience, compatibility of your final application, and its popularity.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Who are the judges?
        </div>
        <div class="content">
            <p>The judges will be Computer Science professors from European universities, and professional Android developers.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Can I consult the Jury about my App with before submission?
        </div>
        <div class="content">
            <p>No, you can only contact the Organizing Team about procedural issues, and the Online Seminar lecturer about any technical questions.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What are the prizes?
        </div>
        <div class="content">
            <p>The prizes will be announced during the next few months.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Do you provide the contestants with any technical support?
        </div>
        <div class="content">
            <p>To introduce you to the topic of developing your own Android App, you are encouraged to participate in our Online Seminars, where the participants can meet lecturers who will provide them with a background for Java programming. This year, the Seminars will be held by Goran Djonovic from LC Novi Sad, a member of EESTEC and a Senior Android Developer. Their main purpose is to teach and motivate all the participants.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Who should I contact if I have any questions?
        </div>
        <div class="content">
            <p>For any other questions or information contact: <a href="mailto:eca-cp@eestec.net" target="_blank">eca-cp@eestec.net</a></p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Can I find anyone I can contact in my country?
        </div>
        <div class="content">
            <p>It depends on the country you’re from. If an EESTEC Local Commitment exists in your country, you will be able to find a contact person there - each LC has its own ambassador of EESTEC Competition for Android.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What happens if I won’t be able to participate in the Award Ceremony?
        </div>
        <div class="content">
            <p>If you are a winner who lives in a country where EESTEC has a local Commitment, your certificate will be passed on by an LC Ambassador. Otherwise, you will receive a digital Competition certificate and you will be given your Prize (according to the winning category).</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What if I miss the First Deadline?
        </div>
        <div class="content">
            <p>If you do, you can still run for the Popularity category (see description above).</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What if I miss the Second Deadline?
        </div>
        <div class="content">
            <p>Our deadlines are serious business, and we try hard to stick to them. Give yourself time to troubleshoot during the submission process.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Will I get a certificate?
        </div>
        <div class="content">
            <p>The members of the winning teams will get certificates. Others may receive a certificate of participation upon request, in a digital version.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            I want to sponsor ECA. What do I do?
        </div>
        <div class="content">
            <p>That’s great! Please contact the FR coordinator at <a href="mailto:eca-fr@eestec.net" target="_blank">eca-fr@eestec.net</a>. We have prepared a sponsorship offer that you may be interested in.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            I am a professor at a university/a professional Android developer and I am interested in being on the jury of the Competition. What steps should I take?
        </div>
        <div class="content">
            <p>We are really glad to hear it. Please contact the Experts Team coordinator at <a href="mailto:eca-experts@eestec.net" target="_blank">eca-experts@eestec.net</a>. We have prepared a partnership offer that you may be interested in.</p>
        </div>
    </div>
</section>
