<div class="ui inverted green vertical masthead center aligned segment">
	<div class="ui stackable grid container">
		<div class="row">
		  	<div class="ui flex center eight wide column">
				<div class="row">
					<h1 class="ui inverted header">Let's <strong>APP</strong> the world!</h1>
					<h2 class="ui inverted medium header">
						EESTEC Competition for Android <br/>
						The contest of innovation, programming, and design!
					</h2>
					<h3 class="ui inverted large header">
						See the <br/>
						winning apps!
					</h3>
					<button class="ui large violet button">
						<i class="trophy icon"></i>
						Winners
					</button>
					<h3 class="ui inverted large header">
						EESTEC Online Seminar <br/>
						Watch the three parts now!
					</h3>
					<button class="ui circular icon huge violet button">
						<i class="play icon"></i>
					</button>
				</div>
		  	</div>
			<div class="six wide right floated column">
				<img class="ui huge image" src="assets/images/nexus5.png">
			</div>
		</div>
	</div>
</div>
<div data-editable data-name="home-content" class="ui container row">

</div>

<script>
	// editor = ContentTools.EditorApp.get();
	// editor.init('*[data-editable]', 'data-name');
</script>
