<section class="ui inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <div class="ui stackable grid container">
        <div class="row" style="padding:0px">
            <div class="ui flex center sixteen wide column">
                <img class="ui huge image" src="assets/images/cover.jpg">
                <!--<div class="row" data-editable data-name="heading">-->
                    <!-- -->
                    <!--&lt;!&ndash; editable heading &ndash;&gt;-->
                    <!--&lt;!&ndash;<h1 class="ui inverted header">&ndash;&gt;-->
                        <!--&lt;!&ndash;<strong>TECH</strong>&ndash;&gt;-->
                        <!--&lt;!&ndash;your future!</h1>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h2 class="ui inverted medium header">&ndash;&gt;-->
                        <!--&lt;!&ndash;with EESTech Challenge&ndash;&gt;-->
                        <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                    <!--&lt;!&ndash;</h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="ui column grid">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; <div class="column">&ndash;&gt;-->
								<!--&lt;!&ndash;<h3 class="ui inverted large header">&ndash;&gt;-->
									<!--&lt;!&ndash;See the <br/>&ndash;&gt;-->
									<!--&lt;!&ndash;winning apps!&ndash;&gt;-->
								<!--&lt;!&ndash;</h3>&ndash;&gt;-->
								<!--&lt;!&ndash;<button class="ui large violet button">&ndash;&gt;-->
									<!--&lt;!&ndash;<i class="trophy icon"></i>&ndash;&gt;-->
									<!--&lt;!&ndash;Winners&ndash;&gt;-->
								<!--&lt;!&ndash;</button>&ndash;&gt;-->
							<!--&lt;!&ndash;</div> &ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="column">&ndash;&gt;-->
                                <!--&lt;!&ndash;<h3 class="ui inverted large header">&ndash;&gt;-->
                                    <!--&lt;!&ndash;Applications are open!&ndash;&gt;-->
                                <!--&lt;!&ndash;</h3>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3 class="ui inverted large header">&ndash;&gt;-->
                        <!--&lt;!&ndash;Watch here this year's&ndash;&gt;-->
                        <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                        <!--&lt;!&ndash;First Online Seminar!&ndash;&gt;-->
                    <!--&lt;!&ndash;</h3>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="https://www.youtube.com/watch?v=Lp6jdYs7PxU" target="_blank">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button class="ui circular icon huge violet button">&ndash;&gt;-->
                            <!--&lt;!&ndash;<i class="play icon"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash; endeditable heading &ndash;&gt;-->
                <!--</div>-->
            </div>
            <!--<div class="six wide right floated column">-->
                <!--<img class="ui huge image" src="assets/images/nexus5.png">-->
            <!--</div>-->
        </div>
    </div>
</section>

<section class="ui content container" data-editable data-name="about" id="about">
    <!-- editable about -->
    <h2 class="ui header aligned center">EESTech Challenge</h2>

    <p>Brand new competition organized by EESTEC, EESTech Challenge (EESTEC Tech Challenge), has the aim to create opportunities for European students to gain knowledge in the field of EECS and develop a professional network. The technological topic of the competition will be changed annually.</p>

    <p>In order to create as objective comeptition as possible, the EESTech Challenge Online Seminars team will organize several online seminars to make sure that everyone has the same knowledge before the Rounds. Since EESTEC emphasizes education and self-improvement, this time also we would like all of our collegues to benefit from this project by expending their knowledge.</p>

    <!--<img alt="" class="ui centered large image" src="assets/images/ec-big-logo.png">-->

</section>

<section class="ui content inverted ec-blue segment" style="padding-top:2rem;padding-bottom:3rem;">
    <div class="ui center aligned container">
        <!--<div data-editable data-name="rules-heading">-->
            <!--&lt;!&ndash; editable rules-heading &ndash;&gt;-->
            <!--<h2 class="ui inverted light header aligned center">This year's topic-->
            <!--</h2>-->
            <!--<h4 class="ui inverted light header aligned center">Machine learning</h4>-->
            <!--&lt;!&ndash; endeditable rules-heading &ndash;&gt;-->
        <!--</div>-->
        <div class="ui center aligned stackable grid mt-4">
            <div class="three column row">
                <div class="column" data-editable data-name="rules-1">
                    <!-- editable rules-1 -->
                    <i class="ui huge idea icon"></i>
                    <h4 class="ui header inverted">Topic</h4>
                    <p>This year the chosen topic is <i>“a field of study that gives computers the ability to learn without being explicitly programmed”</i>- Machine Learning.</p>
                    <!-- endeditable rules-1 -->
                </div>
                <div class="column" data-editable data-name="rules-2">
                    <!-- editable rules-2 -->
                    <i class="ui huge users icon"></i>
                    <h4 class="ui header inverted">Teams</h4>
                    <p>Teams will consist out of <strong>three</strong> members who should demonstrate not only their knowledge about machine learning, but also motivation, dedication and team spirit. Those skills should guide teams towards the victory!</p>
                    <!-- endeditable rules-2 -->
                </div>
                <div class="column" data-editable data-name="rules-4">
                    <!-- editable rules-4 -->
                    <i class="ui huge trophy icon"></i>
                    <h4 class="ui header inverted">Rounds</h4>
                    <p>Aiming to create more objective, interesting and informative competition, the competition will consist of <strong>two levels</strong>. Local Rounds, which will be organised by 16 different EESTEC Commitments from January to March and the Final Round, which will take place in Zurich, in May 2017.</p>
                    <!-- endeditable rules-4 -->
                </div>
            </div>
        </div>
        <!--<div class="ui mt-4">-->
            <!--<a ui-sref="faq">-->
                <!--<button class="ui large inverted ec-blue button">-->
                    <!--<i class="help circle icon"></i> FAQ &amp; Rules-->
                <!--</button>-->
            <!--</a>-->
            <!--<a ui-sref="terms">-->
                <!--<button class="ui large inverted ec-blue button">-->
                    <!--<i class="legal icon"></i> Terms &amp; Conditions-->
                <!--</button>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</section>

<section class="ui content container" id="cities">
    <div class="ui center aligned container" data-editable data-name="cities">
        <!-- editable people -->
        <h2 class="ui header aligned center">Cities</h2>
        <h4 class="ui header aligned center">Local Rounds will take place in <span style="color:#51bcea">16</span> cities across Europe and Turkey.</h4>
        <!--<div class="ui ec-blue ec-blue inverted three item menu">-->
            <!--<a class="item active" data-target="#organizers">-->
                <!--<i class="users icon"></i>Organizers</a>-->
            <!--<a class="item" data-target="#jury">-->
                <!--<i class="star icon"></i>Jury</a>-->
            <!--<a class="item" data-target="#ambassadors">-->
                <!--<i class="announcement icon"></i>Ambassadors</a>-->
        <!--</div>-->
        <div class="ui people container mt-4" id="cities">

            <div class="ui four stackable cards">
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/jlc-almeria.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Almería</div>
                        <div class="description">Spain</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/jlc-catania.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Catania</div>
                        <div class="description">Italy</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-ankara.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Ankara</div>
                        <div class="description">Turkey</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-athens.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Athens</div>
                        <div class="description">Greece</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-belgrade.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Belgrade</div>
                        <div class="description">Serbia</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-cosenza.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Cosenza</div>
                        <div class="description">Italy</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-gliwice.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Gliwice</div>
                        <div class="description">Poland</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-krakow.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Kraków</div>
                        <div class="description">Poland</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-lille.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Lille</div>
                        <div class="description">France</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-novi-sad.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Novi Sad</div>
                        <div class="description">Serbia</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-patras.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Patras</div>
                        <div class="description">Greece</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-sarajevo.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Sarajevo</div>
                        <div class="description">Bosnia and Herzegovina</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-tirana.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Tirana</div>
                        <div class="description">Albania</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-tuzla.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Tuzla</div>
                        <div class="description">Bosnia and Herzegovina</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-zagreb.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Zagreb</div>
                        <div class="description">Croatia</div>
                    </div>
                </div>
            
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/lc/lc-zurich.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Zurich</div>
                        <div class="description">Switzerland</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ui content container" id="online-seminars">
    <div class="ui center aligned container" data-editable data-name="online-seminars">
        <h2 class="ui header aligned center">Online Seminars</h2>
        <div class="testimonial-quote group" style="margin-bottom:30px">
            <div class="quote-container">
                <blockquote>
                    <p>“Students do not learn much just sitting in classes listening to teachers, memorizing prepackaged assignments, and spitting out answers. They must talk about what they are learning, write reflectively about it, relate it to past experiences, and apply it to their daily lives. They must make what they learn part of themselves.”</p>
                </blockquote>
                <cite style="margin-top:10px"><span>Arthur W. Chickering and Stephen C. Ehrmann</span><br>
                </cite>
            </div>
        </div>
    </div>
    <div class="ui row horizontal piled segments">
        <div class="ui content" style="padding:10px">
            <p>With this quote in mind, we started our journey towards offering you the opportunity to learn some of cutting edge technology skills, <strong>today</strong>.</p>
            <p><strong>Online seminar</strong> is a free educational tool for sharing knowledge with both EESTECers and non-EESTECers from all over Europe, while avoiding geographical or time boundaries raised by attending trainings in person. Online Seminars aim to provide EESTech Challenge Participants with the theoretical and technical knowledge they will need for the local and final EESTech Challenge Competition.</p>
            <p>By discussing the different topics, related to the project’s theme, we will try to educate and raise the visibility of our Association.</p>
            <p>This year’s Online Seminars consists of two rounds:<br />
                <ul>
                    <li>The first round consists of two seminars and will be held in December - January. The purpose is for participants to gain the basic knowledge on the topic of Machine Learning, specifically Supervised Machine Learning and its applications in real life by presenting both theoretical knowledge and practical ex in a fun, interactive and approachable manner.<br /></li>
                    <li>The second round will be held during February– April. In this round we aim to take it one step further and present projects and ideas for the local EESTech Challenge rounds. Using prior knowledge from the first seminars, we plan to dive deeper into the subject and introduce and present more advanced topics and applications of supervised learning.</li>
                </ul>
            </p>
            <p>We highly recommend you to promote Online Seminars in your city, being beneficial not only for increasing public recognition of your Committee, but also for the promotion of the Local Round itself. Online learning is not the next big thing, it is the now big thing. Power your future!</p>
        </div>
    </div>
</section>


<section class="ui content container" id="eestec">
    <div class="ui">
        <h2 class="ui header aligned center mt-4">About
            <strong class="ui red header">EESTEC</strong>
        </h2>
        <h3 class="ui header aligned center">Electrical Engineering STudents' European assoCiation</h3>
        <p>EESTEC is a non-political, non-profit organization of and for Electrical Engineering and Computer Science (EECS) students at universities, institutes and technical schools in Europe awarding an engineering degree. The aim is to promote and develop
            international contacts and the exchange of ideas among the students of EECS. The association achieves its aim through improving technical knowledge of EECS students, introducing them to the industry and the educational system of other countries.
            The association was founded in The Netherlands in 1986. Since then, EESTEC has spreaded all around Europe and is now connecting over 4000 students from 32 countries and 55 universities. EESTEC addresses students with skills, openness, enthusiasm
            and ambition. It connects them to a wider range of opportunities in the educational as well as the professional world.</p>
        <a href="https://www.eestec.net" target="_blank">
            <img alt="" class="ui centered large image" src="assets/images/eestec-logo.png">
        </a>
    </div>
</section>

<section class="ui content container" id="contact">
    <div class="ui text container">
        <h2 class="ui header aligned center">Contact Us</h2>
        <div class="ui form hidden">
            <div class="required field">
                <label for="contact-name">Name</label>
                <input id="contact-name" name="contact-name" required type="text">
            </div>
            <div class="required field">
                <label for="contact-email">E-mail Address</label>
                <input id="contact-email" name="contact-email" required type="text">
            </div>
            <div class="required field">
                <label for="contact-message">Message</label>
                <textarea id="contact-message" name="contact-message" required></textarea>
            </div>
            <div class="field">
                <div class="ui green submit button">Submit</div>
            </div>
        </div>
        <div class="ui icon ec-blue inverted message">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                    Want to get in touch with us?
                </div>
                <p>Send us an email at
                    <a href="mailto:eestech-challenge@eestec.net">eestech-challenge@eestec.net</a>
                </p>
            </div>
        </div>
    </div>
</section>
