<div ng-controller="loginController" class="ui main text centered cards login-box container row">
	<img src="assets/images/android-login.png" class="ui medium centered image" alt="Android">
	<div class="ui fluid card">
		<div class="content">
			<div class="header ui centered">Log in for your team profile</div>
			<div class="description">
				<form class="ui form" name="loginForm">
					<div class="field">
						<input type="email" name="email" placeholder="Email" ng-model="email" required>
						<div class="ui pointing red basic label" ng-show="(loginForm.email.$dirty || submitted)  && loginForm.email.$error.required">
					    	Email is required!
					    </div>
						<div class="ui pointing red basic label" ng-show="loginForm.email.$error.email">
					    	Not valid email!
					    </div>
					</div>
					<div class="field">
						<input type="password" name="password" placeholder="Password" ng-model="password" required>
						<div class="ui pointing red basic label" ng-show="(loginForm.password.$dirty || submitted) && loginForm.password.$error.required">
					    	Password is required!
					    </div>
					</div>
				</form>
			</div>
		</div>
		<div ng-click="login()" class="ui green bottom attached button">
			<i class="user icon"></i> Log in
		</div>
	</div>
	<div class="ui horizontal divider">Or</div>
	<a ui-sref="register">
		<div class="ui orange labeled icon button">
	    	<i class="signup icon"></i>
	    	Register
	 	</div>
	</a>
</div>
