<div ng-controller="registerController">
	<div class="ui main container row">
		<div class="ui three column centered padded grid">
			<div class="column">
				<form action="" class="ui form header center aligned" name="nameForm">
					<div class="field">
						<label>Team Name</label>
						<input type="text" name="name" placeholder="Team Name" ng-model="name" required>
						<div class="ui pointing red basic label" ng-show="(nameForm.name.$dirty || submitted)  && nameForm.name.$error.required">
					    	Team name is required!
					    </div>
					</div>
				</form>
			</div>
		</div>
		<div class="ui three cards">
			<div class="ui blurring dimmed dimmable segment card member2">
				<div class="ui inverted active flex center dimmer">
					<button class="circular huge green ui icon button">
						<i class="icon add user"></i>
					</button>
				</div>
				<div class="content ">
					<div class="ui header centered aligned">Team member</div>
					<div class="description">
						<form action="" class="ui form" name="member2Form">
							<div class="field">
								<label>First Name</label>
		    					<input type="text" name="first_name" placeholder="First Name" required ng-model="member2.first_name">
								<div class="ui pointing red basic label" ng-show="(member2Form.first_name.$dirty || submitted2)  && member2Form.first_name.$error.required">
							    	First name is required!
							    </div>
							</div>
							<div class="field">
								<label>Last Name</label>
		    					<input type="text" name="last_name" placeholder="Last Name" required ng-model="member2.last_name">
								<div class="ui pointing red basic label" ng-show="(member2Form.last_name.$dirty || submitted2)  && member2Form.last_name.$error.required">
							    	Last name is required!
							    </div>
							</div>
							<div class="field">
								<label>Birth Date</label>
		    					<input type="date" name="birth" placeholder="Birth Date" required ng-model="member2.birthdate">
								<div class="ui pointing red basic label" ng-show="(member2Form.birth.$dirty || submitted2)  && member2Form.birth.$error.required">
							    	Birth date is required!
							    </div>
							</div>
							<div class="field">
								<label>Gender</label>
		    					<select name="gender" placeholder="Gender" required ng-model="member2.sex">
									<option value='m'>Male</option>
									<option value='f'>Female</option>
								</select>
								<div class="ui pointing red basic label" ng-show="(member2Form.gender.$dirty || submitted2)  && member2Form.gender.$error.required">
							    	Gender is required!
							    </div>
							</div>
							<div class="field">
								<label>Country</label>
		    					<select name="country" placeholder="Country" required ng-model="member2.country">
									<option selected value="">Select country</option>
									<option ng-repeat="country in countries" value="{{country.alpha2Code}}">{{country.name}}</option>
								</select>
								<div class="ui pointing red basic label" ng-show="(member2Form.country.$dirty || submitted)  && member2Form.country.$error.required">
							    	Country is required!
							    </div>
							</div>
							<div class="field">
								<label>Email</label>
		    					<input type="email" name="email" placeholder="Email" required ng-model="member2.email">
								<div class="ui pointing red basic label" ng-show="(member2Form.email.$dirty || submitted2)  && member2Form.email.$error.required">
							    	Email is required!
							    </div>
								<div class="ui pointing red basic label" ng-show="member2Form.email.$error.email">
							    	Not valid email!
							    </div>
							</div>
							<div class="field">
								<label>Passowrd</label>
		    					<input type="password" name="password" placeholder="Password" required ng-model="member2.password">
								<div class="ui pointing red basic label" ng-show="(member2Form.password.$dirty || submitted2)  && member2Form.password.$error.required">
							    	Password is required!
							    </div>
							</div>
							<div class="field">
								<label>Confirm Password</label>
		    					<input type="password" name="password_confirmation" placeholder="Confirm Password" required ng-model="member2.password_confirmation">
								<div class="ui pointing red basic label" ng-show="(member2Form.password_confirmation.$dirty || submitted2)  && member2Form.password_confirmation.$error.required">
							    	Password confirmation is required!
							    </div>
							</div>
							<div class="field">
								<label>CV</label>
								<div class="ui action input">
							        <input type="text" readonly id="_attachmentName">
							        <label for="attachmentName" class="ui icon button btn-file">
							             <i class="attach icon"></i>
							             <input type="file" id="attachmentName" name="cv" ng-model="member2.cv" style="display: none">
							        </label>
							    </div>
								<div class="ui pointing red basic label" ng-show="(member2Form.cv.$dirty || submitted) && member2Form.cv.$error.required">
							    	CV is required!
							    </div>
							</div>
						</form>
					</div>
				</div>
				<div class="ui one bottom attached icon buttons">
					<div class="ui red button">
						<i class="remove user icon"></i>
						Remove
					</div>
				</div>
			</div>
			<div class="ui card">
				<div class="content">
					<div class="ui header centered aligned">Lead member</div>
					<div class="description">
						<form action="" class="ui form" name="member1Form">
							<div class="field">
								<label>First Name</label>
		    					<input type="text" name="first_name" placeholder="First Name" required ng-model="member1.first_name">
								<div class="ui pointing red basic label" ng-show="(member1Form.first_name.$dirty || submitted)  && member1Form.first_name.$error.required">
							    	First name is required!
							    </div>
							</div>
							<div class="field">
								<label>Last Name</label>
		    					<input type="text" name="last_name" placeholder="Last Name" required ng-model="member1.last_name">
								<div class="ui pointing red basic label" ng-show="(member1Form.last_name.$dirty || submitted)  && member1Form.last_name.$error.required">
							    	Last name is required!
							    </div>
							</div>
							<div class="field">
								<label>Birth Date</label>
		    					<input type="date" name="birth" placeholder="Birth Date" required ng-model="member1.birthdate">
								<div class="ui pointing red basic label" ng-show="(member1Form.birth.$dirty || submitted)  && member1Form.birth.$error.required">
							    	Birth date is required!
							    </div>
							</div>
							<div class="field">
								<label>Gender</label>
		    					<select name="gender" required ng-model="member1.sex">
									<option value="">Select Gender</option>
									<option value='m'>Male</option>
									<option value='f'>Female</option>
								</select>
								<div class="ui pointing red basic label" ng-show="(member1Form.gender.$dirty || submitted)  && member1Form.gender.$error.required">
							    	Gender is required!
							    </div>
							</div>
							<div class="field">
								<label>Country</label>
		    					<select name="country" placeholder="Country" required ng-model="member1.country">
									<option selected value="">Select country</option>
									<option ng-repeat="country in countries" value="{{country.alpha2Code}}">{{country.name}}</option>
								</select>
								<div class="ui pointing red basic label" ng-show="(member1Form.country.$dirty || submitted)  && member1Form.country.$error.required">
							    	Country is required!
							    </div>
							</div>
							<div class="field">
								<label>Email</label>
		    					<input type="email" name="email" placeholder="Email" required ng-model="member1.email">
								<div class="ui pointing red basic label" ng-show="(member1Form.email.$dirty || submitted)  && member1Form.email.$error.required">
							    	Email is required!
							    </div>
								<div class="ui pointing red basic label" ng-show="member1Form.email.$error.email">
							    	Not valid email!
							    </div>
							</div>
							<div class="field">
								<label>Passowrd</label>
		    					<input type="password" name="password" placeholder="Password" required ng-model="member1.password">
								<div class="ui pointing red basic label" ng-show="(member1Form.password.$dirty || submitted)  && member1Form.password.$error.required">
							    	Password is required!
							    </div>
							</div>
							<div class="field">
								<label>Confirm Password</label>
		    					<input type="password" name="password_confirmation" placeholder="Confirm Password" required ng-model="member1.password_confirmation">
								<div class="ui pointing red basic label" ng-show="(member1Form.password_confirmation.$dirty || submitted)  && member1Form.password_confirmation.$error.required">
							    	Password confirmation is required!
							    </div>
							</div>
							<div class="field">
								<label>CV</label>
								<div class="ui action input">
							        <input type="text" readonly id="_attachmentName">
							        <label for="attachmentName" class="ui icon button btn-file">
							             <i class="attach icon"></i>
							             <input type="file" id="attachmentName" name="cv" ng-model="member1.cv" style="display: none">
							        </label>
							    </div>
								<div class="ui pointing red basic label" ng-show="(member1Form.cv.$dirty || submitted) && member1Form.cv.$error.required">
							    	CV is required!
							    </div>
							</div>
						</form>
					</div>
				</div>
				<div class="ui one bottom attached icon buttons" ng-click="signup()">
					<div class="ui green button">
						<i class="signup icon"></i>
						Register
					</div>
				</div>
			</div>
			<div class="ui blurring dimmed dimmable segment card member3">
				<div class="ui inverted active flex center dimmer">
					<button class="circular huge green ui icon button">
						<i class="icon add user"></i>
					</button>
				</div>
				<div class="content">
					<div class="ui header centered aligned">Team member</div>
					<div class="description">
						<form action="" class="ui form" name="member3Form">
							<div class="field">
								<label>First Name</label>
		    					<input type="text" name="first_name" placeholder="First Name" required ng-model="member3.first_name">
								<div class="ui pointing red basic label" ng-show="(member3Form.first_name.$dirty || submitted3)  && member3Form.first_name.$error.required">
							    	First name is required!
							    </div>
							</div>
							<div class="field">
								<label>Last Name</label>
		    					<input type="text" name="last_name" placeholder="Last Name" required ng-model="member3.last_name">
								<div class="ui pointing red basic label" ng-show="(member3Form.last_name.$dirty || submitted3)  && member3Form.last_name.$error.required">
							    	Last name is required!
							    </div>
							</div>
							<div class="field">
								<label>Birth Date</label>
		    					<input type="date" name="birth" placeholder="Birth Date" required ng-model="member3.birthdate">
								<div class="ui pointing red basic label" ng-show="(member3Form.birth.$dirty || submitted3)  && member3Form.birth.$error.required">
							    	Birth date is required!
							    </div>
							</div>
							<div class="field">
								<label>Gender</label>
		    					<select name="gender" placeholder="Gender" required ng-model="member3.sex">
									<option value='m'>Male</option>
									<option value='f'>Female</option>
								</select>
								<div class="ui pointing red basic label" ng-show="(member3Form.gender.$dirty || submitted3)  && member3Form.gender.$error.required">
							    	Gender is required!
							    </div>
							</div>
							<div class="field">
								<label>Country</label>
		    					<select name="country" placeholder="Country" required ng-model="member3.country">
									<option selected value="">Select country</option>
									<option ng-repeat="country in countries" value="{{country.alpha2Code}}">{{country.name}}</option>
								</select>
								<div class="ui pointing red basic label" ng-show="(member3Form.country.$dirty || submitted)  && member3Form.country.$error.required">
							    	Country is required!
							    </div>
							</div>
							<div class="field">
								<label>Email</label>
		    					<input type="email" name="email" placeholder="Email" required ng-model="member3.email">
								<div class="ui pointing red basic label" ng-show="(member3Form.email.$dirty || submitted3)  && member3Form.email.$error.required">
							    	Email is required!
							    </div>
								<div class="ui pointing red basic label" ng-show="member3Form.email.$error.email">
							    	Not valid email!
							    </div>
							</div>
							<div class="field">
								<label>Passowrd</label>
		    					<input type="password" name="password" placeholder="Password" required ng-model="member3.password">
								<div class="ui pointing red basic label" ng-show="(member3Form.password.$dirty || submitted3)  && member3Form.password.$error.required">
							    	Password is required!
							    </div>
							</div>
							<div class="field">
								<label>Confirm Password</label>
		    					<input type="password" name="password_confirmation" placeholder="Confirm Password" required ng-model="member3.password_confirmation">
								<div class="ui pointing red basic label" ng-show="(member3Form.password_confirmation.$dirty || submitted3)  && member3Form.password_confirmation.$error.required">
							    	Password confirmation is required!
							    </div>
							</div>
							<div class="field">
								<label>CV</label>
								<div class="ui action input">
							        <input type="text" readonly id="_attachmentName">
							        <label for="attachmentName" class="ui icon button btn-file">
							             <i class="attach icon"></i>
							             <input type="file" id="attachmentName" name="cv" ng-model="member3.cv" style="display: none">
							        </label>
							    </div>
								<div class="ui pointing red basic label" ng-show="(member3Form.cv.$dirty || submitted) && member3Form.cv.$error.required">
							    	CV is required!
							    </div>
							</div>
						</form>
					</div>
				</div>
				<div class="ui one bottom attached icon buttons">
					<div class="ui red button">
						<i class="remove user icon"></i>
						Remove
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui three column centered grid">
		<div class="ui negative message" ng-show="error.length">
			<div class="header">
				{{error}}
			</div>
		</div>
	</div>
	<div class="ui three column centered grid">
		<div class="column header center aligned">
			<div class="ui horizontal divider">Or</div>
			<a ui-sref="login">
				<div class="ui orange labeled icon button">
					<i class="user icon"></i>
					Login
				</div>
			</a>
		</div>
	</div>
</div>
