<div class="ui three stackable cards">
    <div class="ui green fluid card">
        <div class="image">
            <img src="assets/images/image.png">
        </div>
        <div class="content">
            <div class="header">Matt Giampietro</div>
            <div class="meta">
                <a href="mailto:matt.giampietro@gmail.com">matt.giampietro@gmail.com</a>
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                17 June 1992
            </span>
            <span>
                <i class="user icon"></i>
                Male
            </span>
        </div>
    </div>

    <div class="ui green fluid card">
        <div class="image">
            <img src="assets/images/image.png">
        </div>
        <div class="content">
            <div class="header">Matt Giampietro</div>
            <div class="meta">
                <a href="mailto:matt.giampietro@gmail.com">matt.giampietro@gmail.com</a>
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                17 June 1992
            </span>
            <span>
                <i class="user icon"></i>
                Male
            </span>
        </div>
    </div>

    <div class="ui green fluid card">
        <div class="image">
            <img src="assets/images/image.png">
        </div>
        <div class="content">
            <div class="header">Matt Giampietro</div>
            <div class="meta">
                <a href="mailto:matt.giampietro@gmail.com">matt.giampietro@gmail.com</a>
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                17 June 1992
            </span>
            <span>
                <i class="user icon"></i>
                Male
            </span>
        </div>
    </div>
</div>
