<div class="container">
    <form ng-submit="signup(name, members)">
        <div class="form-group">
            <label for="inputTeamName">Team Name</label>
            <input type="text" ng-model="name" class="form-control" id="inputTeamName" placeholder="Name">
        </div>
        <div class="" ng-repeat="member in members">
            <hr>
            <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input type="text" ng-model="member.first_name" class="form-control" id="inputFirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="inputLastName">Last Name</label>
                <input type="text" ng-model="member.last_name" class="form-control" id="inputLastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="inputBirthdate">Birthdate</label>
                <input type="date" ng-model="member.birthdate" class="form-control" id="inputBirthdate">
            </div>
            <div class="form-group">
                <label for="inputSex">Sex</label>
                <select ng-model="member.sex" class="form-control" id="inputSex">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" ng-model="member.email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" ng-model="member.password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="inputPasswordConfirm">Confirm Password</label>
                <input type="password" ng-model="member.password_confirmation" class="form-control" id="inputPasswordConfirm" placeholder="Password">
            </div>
        </div>
        <button class="btn btn-success" ng-click="addMember()" ng-if="members.length < config.maxTeamMembers">Add member</button>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>