<section class="ui inverted green vertical masthead center aligned segment" id="home">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="ui flex center eight wide column">
                <div class="row" data-editable data-name="heading">
                    <!-- editable heading -->
                    <h1 class="ui inverted header">Let's
                        <strong>APP</strong>
                        the world!</h1>
                    <h2 class="ui inverted medium header">
                        EESTEC Competition for Android
                        <br/>
                        The contest of innovation, programming, and design!
                    </h2>
                    <div class="ui column grid">
                        <div class="row">
                            <!-- <div class="column">
								<h3 class="ui inverted large header">
									See the <br/>
									winning apps!
								</h3>
								<button class="ui large violet button">
									<i class="trophy icon"></i>
									Winners
								</button>
							</div> -->
                            <div class="column">
                                <h3 class="ui inverted large header">
                                    The deadline has passed. Thank you for the participation, the results will be announced on 13th of April 2016!
                                </h3>
                            </div>
                        </div>
                    </div>
                    <h3 class="ui inverted large header">
                        Watch here this year's
                        <br/>
                        First Online Seminar!
                    </h3>
                    <a href="https://www.youtube.com/watch?v=Lp6jdYs7PxU" target="_blank">
                        <button class="ui circular icon huge violet button">
                            <i class="play icon"></i>
                        </button>
                    </a>
                    <!-- endeditable heading -->
                </div>
            </div>
            <div class="six wide right floated column">
                <img class="ui huge image" src="assets/images/nexus5.png">
            </div>
        </div>
    </div>
</section>

<section class="ui content container" data-editable data-name="about" id="about">
    <!-- editable about -->
    <h2 class="ui header aligned center">EESTEC Competition for Android</h2>
    <p>EESTEC Competition for Android is open to Android enthusiasts from all over the world. This academical event aims at opening doors for creative innovation by putting into practice knowledge about programming and design.</p>
    <p>In the past years, the usage of applications has reached immense popularity and their usefulness slowly transformed from what was merely a luxurious advantage into a basic tool for daily needs in terms of information, communication, mobility, entertainment
        etc.</p>
    <p>Because Android has become a part of our everyday life, we ought to participate in enhancing the quality of the services that the platform provides.
        <br>As young students and free-thinkers, we can bring ourselves to understand the needs of our generation and help fulfil them.</p>
    <p>The 5th EESTEC Competition for Android is a great experience not only because it teaches students about useful technical tools - it also pushes them to research and analyse in order to meet a demand.</p>
    <p>This event will be an amazing opportunity for the developers to gain experience about programming and design, show their creativity, and build an application that could be used by millions of people from all around the globe.</p>

    <img alt="" class="ui centered large image" src="assets/images/eca-logo.png">
    <h2 class="ui header aligned center mt-4">About
        <strong class="ui red header">EESTEC</strong>
    </h2>
    <h3 class="ui header aligned center">Electrical Engineering STudents' European assoCiation</h3>
    <p>EESTEC is a non-political, non-profit organization of and for Electrical Engineering and Computer Science (EECS) students at universities, institutes and technical schools in Europe awarding an engineering degree. The aim is to promote and develop
        international contacts and the exchange of ideas among the students of EECS. The association achieves its aim through improving technical knowledge of EECS students, introducing them to the industry and the educational system of other countries.
        The association was founded in The Netherlands in 1986. Since then, EESTEC has spreaded all around Europe and is now connecting over 4000 students from 32 countries and 55 universities. EESTEC addresses students with skills, openness, enthusiasm
        and ambition. It connects them to a wider range of opportunities in the educational as well as the professional world.</p>
    <a href="https://www.eestec.net" target="_blank">
        <img alt="" class="ui centered large image" src="assets/images/eestec-logo.png">
    </a>
    <!-- endeditable about -->
</section>

<section class="ui content inverted green segment" id="rules">
    <div class="ui center aligned container">
        <div data-editable data-name="rules-heading">
            <!-- editable rules-heading -->
            <h2 class="ui inverted light header aligned center">Start working on your app
                <strong>today</strong>
            </h2>
            <h4 class="ui inverted light header aligned center">Easy steps to succeed!</h4>
            <!-- endeditable rules-heading -->
        </div>
        <div class="ui center aligned stackable grid mt-4">
            <div class="four column row">
                <div class="column" data-editable data-name="rules-1">
                    <!-- editable rules-1 -->
                    <i class="ui huge idea icon"></i>
                    <h4 class="ui header inverted">Brainstorm</h4>
                    <p>Start thinking of your ideas! Be a creative mind and the best will come!</p>
                    <!-- endeditable rules-1 -->
                </div>
                <div class="column" data-editable data-name="rules-2">
                    <!-- editable rules-2 -->
                    <i class="ui huge users icon"></i>
                    <h4 class="ui header inverted">Group Up</h4>
                    <p>Teamwork is the key to succeed! Find your teammates and rock the world of apps!</p>
                    <!-- endeditable rules-2 -->
                </div>
                <div class="column" data-editable data-name="rules-3">
                    <!-- editable rules-3 -->
                    <i class="ui huge code icon"></i>
                    <h4 class="ui header inverted">Code</h4>
                    <p>The hard task of debugging is waiting for you! Patience is the key!</p>
                    <!-- endeditable rules-3 -->
                </div>
                <div class="column" data-editable data-name="rules-4">
                    <!-- editable rules-4 -->
                    <i class="ui huge trophy icon"></i>
                    <h4 class="ui header inverted">Win!</h4>
                    <p>Win prizes! And even if you don't the experience in the way till here was valuable!</p>
                    <!-- endeditable rules-4 -->
                </div>
            </div>
        </div>
        <div class="ui mt-4">
            <a ui-sref="faq">
                <button class="ui large inverted olive button">
                    <i class="help circle icon"></i> FAQ &amp; Rules
                </button>
            </a>
            <a ui-sref="terms">
                <button class="ui large inverted olive button">
                    <i class="legal icon"></i> Terms &amp; Conditions
                </button>
            </a>
        </div>
    </div>
</section>

<section class="ui content container" id="prizes">
    <div class="ui center aligned container" data-editable data-name="prizes">
        <!-- editable prizes -->
        <h2 class="ui header aligned center">Prizes coming soon...</h2>
        <!-- endeditable prizes -->
        <div class="ui container stackable grid mt-4" id="categories">
            <div class="ui four column row horizontal piled segments">
                <div class="ui column segment">
                    <i class="ui huge paint brush icon"></i>
                    <h4 class="ui header">Best Design</h4>
                    <p>Rewards the most skilled team with the best implemented idea from the design perspective. The award will go to the app with the best (friendliest) user interface.</p>
                </div>
                <div class="ui column segment">
                    <i class="ui huge idea icon"></i>
                    <h4 class="ui header">Best Innovation</h4>
                    <p>Rewards the most innovative idea. This award’s purpose is to encourage participants who didn’t have enough skills to complete the implementing part, but they came up with a great idea and work towards developing it to an application.</p>
                </div>
                <div class="ui column segment">
                    <i class="ui huge line chart icon"></i>
                    <h4 class="ui header">Best overall score</h4>
                    <p>Rewards the team with the highest total score in all judging criteria. So, the team which gathers the above characteristics, skillfully designed , innovative, popular and stands out will have this award.</p>
                </div>
                <div class="ui column segment">
                    <i class="ui huge child icon"></i>
                    <h4 class="ui header">People's choice</h4>
                    <p>A new prize category that has been added this year, awards the most popular app. The app can be promoted by the team in social media. The app will be uploaded to Google Play by the organization once it is submitted by the team, before
                        the second deadline. The app with the best rating on our Google Play account will have a non monetary prize (special certificate, etc).</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ui content container" id="people">
    <div class="ui center aligned container" data-editable data-name="people">
        <!-- editable people -->
        <h2 class="ui header aligned center">People</h2>
        <h4 class="ui header aligned center">The contributors of EESTEC Competition for Android 2015-2016</h4>
        <div class="ui green inverted three item menu">
            <a class="item active" data-target="#organizers">
                <i class="users icon"></i>Organizers</a>
            <a class="item" data-target="#jury">
                <i class="star icon"></i>Jury</a>
            <a class="item" data-target="#ambassadors">
                <i class="announcement icon"></i>Ambassadors</a>
        </div>
        <div class="ui people container mt-4" id="organizers">
            <h3 class="ui header aligned center">Organizers</h3>
            <div class="ui horizontal divider">Core Team</div>
            <div class="ui five stackable cards">
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Malgorzata-Wesolowska.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Małgorzata Wesołowska</div>
                        <div class="meta">Head Organizer</div>
                        <div class="description">LC Kraków</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Ana-Maria-Mironica.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Ana-Maria Mironică</div>
                        <div class="meta">Experts Coordinator</div>
                        <div class="description">LC Bucharest</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Lukasz-Rogowski.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Łukasz Rogowski</div>
                        <div class="meta">Fundraising Coordinator</div>
                        <div class="description">LC Kraków</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Vadim-Nagornov.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Vadim Nagornov</div>
                        <div class="meta">Public Relations Coordinator</div>
                        <div class="description">LC Hamburg</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Aleksandra-Farasiewicz.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Aleksandra Farasiewicz</div>
                        <div class="meta">Contact Person</div>
                        <div class="description">LC Kraków</div>
                    </div>
                </div>
            </div>
            <div class="ui horizontal divider">Team Members</div>
            <div class="ui five stackable cards">
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Stefania-Damianaki.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Stefania Damianaki</div>
                        <div class="description">LC Xanthi</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Volkan-Erdem.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Volkan Erdem</div>
                        <div class="description">LC Eskisehir</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Bojana_Stupar.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Bojana Stupar</div>
                        <div class="description">LC Banja Luka</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Ioannis-Skouros.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Ioannis Skouros</div>
                        <div class="description">LC Xanthi</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Theodoros-Rizopoulos.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Theodoros Rizopoulos</div>
                        <div class="description">LC Xanthi</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Christiana-Koudigkeli.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Christiana Koudigkeli</div>
                        <div class="description">LC Athens</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Delila-Smajlovic.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Delila Smajlović</div>
                        <div class="description">LC Sarajevo</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Isidora-Tourni.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Isidora Tourni</div>
                        <div class="description">LC Athens</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Elma-Sinanovic.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Elma Sinanović</div>
                        <div class="description">LC Sarajevo</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Alexandra-Veizu.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Ioana Alexandra Veizu</div>
                        <div class="description">LC Bucharest</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Vilim-Roller.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Vilim Roller</div>
                        <div class="description">LC Zagreb</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Apostolis-Averkiadis.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Apostolis Averkiadis</div>
                        <div class="description">LC Xanthi</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/organizers/Apostolos-Stefanidis.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Apostolis Stefanidis</div>
                        <div class="description">LC Xanthi</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui people container hidden" id="jury">
            <h3 class="ui header aligned center">Jury</h3>
            <div class="ui five stackable link cards">
                <a href="http://www.dit.upm.es/~cif/" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Carlos-A.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Carlos A. Iglesias Fernández</div>
                        <div class="meta">Professor</div>
                        <div class="description">Universidad Politécnica de Madrid (Technical University of Madrid)</div>
                    </div>
                </a>
                <a href="http://www.dit.upm.es/gabriel" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Gabriel-Huecas-Fernandez-Toribio.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Gabriel Huecas Fernández-Toribio</div>
                        <div class="meta">Professor</div>
                        <div class="description">Universidad Politécnica de Madrid (Technical University of Madrid)</div>
                    </div>
                </a>
                <a href="http://www.dit.upm.es/aalonso" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Alejandro-Alonso.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Alejandro Alonso</div>
                        <div class="meta">Professor</div>
                        <div class="description">Universidad Politécnica de Madrid (Technical University of Madrid)</div>
                    </div>
                </a>
                <a href="http://students.ceid.upatras.gr/~besarat/" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Tzeries Besarat</div>
                        <div class="meta">Msc, Doctoral Student</div>
                        <div class="description">Computer Technology Institute & Press "Diophantus"</div>
                    </div>
                </a>
                <a href="https://gr.linkedin.com/in/spirosoik" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Spiros Oikonomakis</div>
                        <div class="meta">Lead Mobile Engineer at gRateFriends, Owner/Tech Leader of Pocket Tour</div>
                        <div class="description">gRateFriends</div>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/krzysztof-r%C4%85czka-2555555" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Krzysztof-Raczka.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Krzysztof Rączka</div>
                        <div class="meta">Msc, Doctoral Student, Assistant</div>
                        <div class="description">AGH University of Science and Technology (Akademia Górniczo-Hutnicza imienia Stanisława Staszica w Krakowie)</div>
                    </div>
                </a>
                <a href="http://home.agh.edu.pl/~kkulak/doku.php?id=profi:welcome" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Konrad Kułakowski</div>
                        <div class="meta">PhD</div>
                        <div class="description">AGH University of Science and Technology (Akademia Górniczo-Hutnicza imienia Stanisława Staszica w Krakowie)</div>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/alfredorodriguezfuertes" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Alfredo-Rodriguez-Fuertes.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Alfredo Rodriguez Fuertes</div>
                        <div class="meta">Professor</div>
                        <div class="description">Universidad Europea de Madrid (Villaviciosa de Odón Campus)</div>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/bartzimny" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Bart Zimny</div>
                        <div class="meta">CEO | Design strategist</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/fortunajs/en" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Szymon Fortuna</div>
                        <div class="meta">COO | software Lead</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a href="https://new.kt.agh.edu.pl/pl/user/204" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Michal-Grega.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Michał Grega</div>
                        <div class="meta">PhD</div>
                        <div class="description">AGH University of Science and Technology (Akademia Górniczo-Hutnicza imienia Stanisława Staszica w Krakowie)</div>
                    </div>
                </a>
                <a href="http://www.rug.nl/news/2011/01/emergingtechnologyaward" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Nicolae Goga</div>
                        <div class="meta">PhD</div>
                        <div class="description">University Politehnica, Bucharest</div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Zarko-Oroz.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Zarko Oroz</div>
                        <div class="meta">Msc in Computer Science and Informatics</div>
                        <div class="description">DevLogic</div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Christian-Meder.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Christian Meder</div>
                        <div class="meta">CTO</div>
                        <div class="description">Inovex</div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Matic-Jesenovec.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Matic Jesenovec</div>
                        <div class="meta">EESTEC Alumni</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Felix-Kristl.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Felix Kristl</div>
                        <div class="meta">EESTEC Alumni</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Svetlana Mihajlovic</div>
                        <div class="meta">EESTEC Alumni</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Aleksandar-Jovanovic.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Aleksandar Jovanović</div>
                        <div class="meta">EESTEC Alumni</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Stefan Mocanu</div>
                        <div class="meta">Professor</div>
                        <div class="description">University Politehnica of Bucharest</div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Yves-Rybarczyk.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Yves Rybarczyk</div>
                        <div class="meta">Assistant Professor</div>
                        <div class="description">New University of Lisbon - Faculty of Science and Technology</div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Tiago Cardoso</div>
                        <div class="meta">Assistant Professor</div>
                        <div class="description">New University of Lisbon - Faculty of Science and Technology</div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Pavlos S. Efraimidis</div>
                        <div class="meta">Assistant Professor</div>
                        <div class="description">Democritus University of Thrace</div>
                    </div>
                </a>
                <a href="" class="ui card" target="_blank">
                    <div class="image">
                        <img src="assets/images/people/jury/Gabriel-Rotaru.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Gabriel Rotaru</div>
                        <div class="meta">Android Developer</div>
                        <div class="description">University Politehnica of Bucharest</div>
                    </div>
                </a>
			</div>
        </div>
        <div class="ui people container hidden" id="ambassadors">
            <h3 class="ui header aligned center">Ambassadors</h3>
            <!-- <h3 class="ui header aligned center">Coming soon...</h3> -->
            <div class="ui five stackable cards">
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Gizem-Ozen.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Gizem Özen</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Ankara</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Eirini Telali</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Athens</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Yiannis Koulierakis</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Athens</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Sinisa-Runjic.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Siniša Runjić</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Banja Luka</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Alexandra-Veizu.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Alexandra Veizu</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Bucharest</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Alex-Ene.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Alexandru Ene</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Bucharest</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Bársony Szabolcs (Szabi)</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Budapest</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Debreceni Dávid (Dávid)</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Budapest</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Angela Barbara</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Cosenza</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Karolina-Murawska.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Karolina Murawska</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Gdansk</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Yigit-Sabanoglu.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Yiğit Şabanoglu</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Istambul</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Gizem-Atasolmaz.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Gizem Atasolmaz</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Izmir</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Marta-Blaszczy.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Marta Błaszczyk</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Kraków</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Agata-Terzis.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Agata Terzis</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Kraków</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Luc Audis</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Lile</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Christian-Jonsson.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Christian Jonsson</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Linkoping</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Blaz-Artac.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Blaž Artač</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Ljubljana</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Javier-Soler-Macias.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Javier Soler Macías</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Madrid</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Katerina-Stoumpou.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Katerina Stoumpou</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Patras</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Bozidarka-Radovic.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Božidarka Radović</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Podgorica</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Sanja-Lazic.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Sanja Lazić</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Podgorica</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Aleksandrs Manajenkovs</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Riga</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Amina-Zgalj.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Amina Žgalj</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Sarajevo</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/people/ambassadors/Sanja-Tosheska.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Sanja Tosheska</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Skopje</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Antti Peltotalo</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Tampere</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Giulia Brusadin</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Trieste</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Miltiadis Alexis</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Xanthi</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/image.png">
                    </div>
                    <div class="content">
                        <div class="header">Filip Rudan</div>
                        <div class="meta">Ambassador</div>
                        <div class="description">LC Zagreb</div>
                    </div>
                </div>
            </div>
            <!-- endeditable people -->
        </div>
    </div>
</section>

<section class="ui content container" id="supporters">
    <div class="ui center aligned container" data-editable data-name="supporters">
        <!-- editable supporters -->
        <h2 class="ui header aligned center">Supporters</h2>
        <h4 class="ui header aligned center">The supporters of EESTEC Competition for Android 2015-2016</h4>
        <div class="ui green inverted two item menu">
            <a class="item active" data-target="#sponsors">
                <i class="star icon"></i>Sponsors</a>
            <a class="item" data-target="#universities">
                <i class="student icon"></i>Universities</a>
        </div>
        <div class="ui supporters container mt-4" id="sponsors">
            <h3 class="ui header aligned center">Sponsors</h3>
            <div class="ui five stackable cards">
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/supporters/sponsors/LMMFE.png">
                    </div>
                    <div class="content">
                        <div class="header">LMMFE</div>
                        <div class="meta">Laboratory of Multimedia</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/supporters/sponsors/chipolo.png">
                    </div>
                    <div class="content">
                        <div class="header">Chipolo</div>
                        <div class="meta">Nothing is lost</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui supporters container hidden" id="universities">
            <h3 class="ui header aligned center">Universities</h3>
            <div class="ui five stackable cards">
				<div class="ui card">
	  				<div class="image">
			    		<img src="assets/images/supporters/universities/Bucharest-UPB.png">
			  		</div>
			  		<div class="content">
			    		<div class="header">Politehnica University of Bucharest</div>
						<div class="meta">Bucharest, Romania</div>
			  		</div>
				</div>
                <div class="ui card">
	  				<div class="image">
			    		<img src="assets/images/supporters/universities/Sarajevo.png">
			  		</div>
			  		<div class="content">
			    		<div class="header">Faculty of Electrical Engineering, University of Sarajevo</div>
						<div class="meta">Sarajevo, Bosnia and Herzegovina</div>
			  		</div>
				</div>
                <div class="ui card">
	  				<div class="image">
			    		<img src="assets/images/supporters/universities/Ljubljana---FEE.png">
			  		</div>
			  		<div class="content">
			    		<div class="header">Faculty of Electrical Engineering, University of Ljubljana</div>
						<div class="meta">Ljubljana, Slovenia</div>
			  		</div>
				</div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/supporters/universities/AGH-Krakow.jpg">
                    </div>
                    <div class="content">
                        <div class="header">AGH University of Science and Technology</div>
                        <div class="meta">Kraków, Poland</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/supporters/universities/Istanbul_Teknik_Universitesi_Logo.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Istanbul Technical University</div>
                        <div class="meta">Istanbul, Turkey</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/supporters/universities/Ljubljana---FCIS.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Faculty of Computer and Information Science, University of Ljubljana</div>
                        <div class="meta">Ljubljana, Slovenia</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/supporters/universities/Madrid-ETSIT-UPM.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Higher Technical School of Telecommunications Engineering</div>
                        <div class="meta">Madrid, Spain</div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="assets/images/supporters/universities/Metropolitan-University-of-Tirana.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Metropolitan University of Tirana</div>
                        <div class="meta">Tirana, Albania</div>
                    </div>
                </div>
			</div>
        </div>
    </div>
    <!-- endeditable supporters -->
</section>

<section class="ui content container" id="contact">
    <div class="ui text container">
        <h2 class="ui header aligned center">Contact Us</h2>
        <div class="ui form hidden">
            <div class="required field">
                <label for="contact-name">Name</label>
                <input id="contact-name" name="contact-name" required type="text">
            </div>
            <div class="required field">
                <label for="contact-email">E-mail Address</label>
                <input id="contact-email" name="contact-email" required type="text">
            </div>
            <div class="required field">
                <label for="contact-message">Message</label>
                <textarea id="contact-message" name="contact-message" required></textarea>
            </div>
            <div class="field">
                <div class="ui green submit button">Submit</div>
            </div>
        </div>
        <div class="ui icon green inverted message">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                    Want to get in touch with us?
                </div>
                <p>Send us an email at
                    <a href="mailto:eca-cp@eestec.net">eca-cp@eestec.net</a>
                </p>
            </div>
        </div>
    </div>
</section>
