// out: ../assets/css/eca.css, sourcemap: true, compress: true, nib: true

.main.container
	padding-top: 6.5rem
	padding-bottom: 2rem

.vertical.masthead
	padding-top: 6.5rem
	h1
		font-size: 4em
		font-weight: 300

.ui.main.container.login-box
	padding-top: 13.4rem
	padding-bottom: 13.4rem
	.ui.card
		margin-top: 0

.hidden
	display: none !important

.ui.top.menu
	.header.item:hover, .header.item:active, .header.item:focus
		background-color: inherit


.ui.vertical.navbar.menu
	box-shadow: none
	border: none
	border-radius: 0

.ui.mobile.only
	.right.menu.open
		.ui.button
			padding-left: 1rem
			padding-right: 1rem
			.icon
				margin: 0
		.toggle.item
			&.open
				background-color: #21ba45
				.icon
					color: white !important
			.icon
				margin: 0

.ui.bottom.footer
	margin-top: 2rem

.ui.flex.center
	display: flex !important;
	align-items: center
	justify-content: center
	> *
		margin: 0;

.ui.blurring.dimmed
	> .bottom.buttons
		display: none
